<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lann.openpark.charge.dao.mapper.ChargePlanConfigMapper">

    <!--根据车牌类型查询收费方案-->
    <select id="findChargePolicyByPlateType" parameterType="java.lang.String"
            resultType="com.lann.openpark.charge.dao.entiy.ChargePlanConfig">

        SELECT
        t.nid,
        t.park_id parkId,
        t.plan_id planId,
        t.plate_type plateType,
        t.policy_id policyId
        FROM
        charge_plan_config t,
        charge_plan_region t2,
        charge_plan t1
        WHERE
        t.plan_id = t1.nid
        AND t1.nid = t2.plan_id
        AND t.plate_type = #{plateType,jdbcType=VARCHAR}
        AND t2.region_code = #{regionCode,jdbcType=VARCHAR}
        AND t.is_effective = '0101'
        AND t1.begin_date &lt;= CURDATE()
        AND t1.end_date >= CURDATE()
        ORDER BY
        t1.policy_priority DESC

    </select>


</mapper>